body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    padding: 12px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

.hero , .header > ul > li > a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.heroimg {
    display: flex;
    justify-content: center;
    margin: 115px 245px;
}

.herobutton {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
}

.heroheader {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.herotext {
    width: 450px;
}

.image {
    background-color: rgb(113, 118, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button {
    width: 130px;
    background-color: #3882F6;
    padding: 8px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
}

.info {
    background-color: #F9FAF8; 
    padding: 42px;
    padding-bottom: 110px;
}

.infotext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 42px;
    flex-wrap: wrap;
}

.square {
    border-color: #3882F6;
    border-style: solid;
    border-radius: 12px;
    border-width: 4px;
    padding: 50px;
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
}

.infolist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.infolist > div {
    width: 150px;
    text-align: center;
    color: rgb(113, 118, 129);
}

.quote {
    background-color: #E5E7EB;
    padding: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
}

.quotetext {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 790px;
}

.quoter {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-self: flex-end;
    margin-right: 250px;
}

.action {
    background-color: #F9FAF8;
    padding: 100px 200px;
}

.blue {
    background-color: #3882F6;
    padding: 50px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
}

.actionheader {
    font-size: 22px;
    font-weight: 700;
    color: #F9FAF8;
}

.actionbutton {
    border-style: solid;
    border-color: #F9FAF8;
}

.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 18px;
}

button > a {
    color: #F9FAF8;
}